<div style="text-align: center;">
<label>Bienvenido su perfil es el siguiente:</label>

<div>
  <label >Usuario:   </label>
  <label >{{a}}</label>
</div>
<div>
  <label >Rol:    </label>
  <label >{{b}}</label>
</div>
</div>

