<!-- No olvidar agregar ReactiveFormsModule en App.module.ts, util para trabajar con formularios-->
<form class="example-container" [formGroup]="form" #frmSignos="ngForm" (ngSubmit)="operar()">

    <div *ngIf="pageType ==='edit'">
        <span>Paciente:   </span>
   <mat-form-field class="example-full-width">
        <input matInput placeholder={{pacientes.nombres}} required disabled=true>
    </mat-form-field>
 
    </div> 

    <div *ngIf="pageType ==='new'">
        <mat-select placeholder="Selecciona paciente" [(value)]="idPacienteSeleccionado">
            <mat-option *ngFor="let p of (pacientes$ | async)" [value]="p.idPaciente">
                {{ p.nombres }} {{ p.apellidos }}
            </mat-option>
        </mat-select>
        &nbsp;
        &nbsp;
    </div> 

    <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Escoger una fecha dd/mm/yyyy" 
        formControlName="fecha" [max]="maxFecha">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>

    </mat-form-field>

  

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Temperatura" required formControlName="temperatura" type="number">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Pulso" required formControlName="pulso">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Ritmo" required formControlName="ritmo">
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="frmSignos.invalid">
        <mat-icon>done</mat-icon>
        <span>Aceptar</span>
    </button>
    <button mat-raised-button color="accent" routerLink='/signos' type="button">
        <mat-icon>close</mat-icon>
        <span>Cancelar</span>
    </button>

</form>